.new-board-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
  cursor: pointer;
  margin-bottom: 25px;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.boards-list__item {
  position: relative;
  color: black;
  background-color: darkseagreen;
  padding: 15px;
  cursor: pointer;
  width: 150px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.boards-list__item-name {
  margin: 0;
}

.boards-list__item-del {
  color: red;
  border: none;
  background: transparent;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.boards-list__item-edit {
  border: none;
  background: transparent;
  font-weight: bold;
  position: absolute;
  right: 35px;
  top: 15px;
  cursor: pointer;
}

.boards-list__item-date {
  margin: 0;
  font-size: 10px;
}



